.frame {
  --w: 16;
  --h: 9;

  aspect-ratio: var(--w) / var(--h);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  & > img,
  & > picture,
  & > video {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }
}