:root {
	font-family: var(--text-font-family);
	font-size: var(--root-font-size);
	line-height: var(--root-line-height);
	background-color: var(--site-background-color);
	color: var(--site-text-color);
	scrollbar-color: var(--site-text-color) transparent;
}

body {
	font-size: var(--step-0);
}

main {
	margin-block: var(--space-2xl);
	container-type: inline-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--display-font-family);
	line-height: 1.1;
}

h1 {
	font-size: var(--step-5);
	font-weight: 800;
}

h2 {
	font-size: var(--step-4);
	font-weight: 800;
}

h3 {
	font-size: var(--step-3);
}

h4 {
	font-size: var(--step-2);
}

a {
	color: var(--link-color);
	text-decoration-thickness: 0.1em;
	text-underline-offset: 0.2em;

	&:hover {
		color: var(--link-hover-color);
	}
}

abbr {
	text-decoration-style: dotted;
	text-decoration-thickness: 0.1em;
	text-decoration-color: inherit;
	text-underline-offset: 0.2em;
	cursor: help;
}

figure {
	margin: 0;
	padding: 0;
}

figcaption {
	text-align: center;
	font-family: var(--display-font-family);
	font-size: 0.8em;
	margin-block-start: 1em;
}

pre,
code {
	font-family: var(--mono-font-family);
	font-size: 0.875em;
	tab-size: 2;
	white-space: pre-wrap;
}

:not(pre) > code {
	display: inline-block;
	line-height: 1;
	padding: 0.1em;
}

ul, ol {
	padding-inline-start: 1em;
}

dt {
	font-family: var(--display-font-family);

	dd + & {
		margin-block-start: 1em;
	}
}

blockquote {
	font-size: var(--step-2);
	font-style: italic;
	padding-block: var(--space-m);
	padding-inline-end: var(--space-l);
	padding-inline-start: var(--space-xl);
	margin: 0;
	position: relative;

	&::before {
		content: "‟";
		position: absolute;
		font-size: 3em;
		font-style: normal;
		inset-block-start: 0;
		inset-inline-start: 0;
		color: hsl(from currentColor h s 50);
	}
}

::selection {
	background-color: var(--selection-background-color);
}

::-moz-selection {
	background-color: var(--selection-background-color);
}